@{
    ViewBag.Title = "About Page";
}

<div class="col-md-10">
    <h1>About Me!</h1>
    <div class="col-md-3"> <img src="~/img/Headshot.jpg" /></div>
    <div class="col-md-offset-7">
        <p id="aboutMeBody">&ensp;I'm a senior at University of Florida, studying Computer Science as my major and Mathematics as my minor. I love playing
            basketball whenever I get a chance and like most nerds, I play video games (pcmasterrace only). However, since I'm graduating
            soon and I desparately need a job, I've been doing more coding recently to prepare myself to the "real" world. I speak fluent
            Korean, as I was born and raised in South Korea (Seoul) for about 10 years before coming to USA. I think that wraps up about
            me, thanks for reading this dull paragraph!</p>
    </div>
  
</div