@*@{
    ViewBag.Title = "ReaderBlogs";
}
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-blogs.js"></script>
    <script src="~/js/blogsController.js"></script>
    <script src="~/js/blogEditorController.js"></script>
    <script src="~/js/newBlogController.js"></script>
}
<div class="row" ng-app="app-blogs">

    <div ng-view></div>

</div>*@